{% extends 'base.html.twig' %}

{% block title %}Mes adresse -La boutique{% endblock %}

{% block content %}
<h1>Mes adresse</h1>
C'est dans cet espace que vous aller pouvoir gérer toutes vos adresse 
<hr>
{% endblock %}